<h1><%= @top.artist %></h1>
<br />

<%= link_to 'Edit Artist', edit_top_path(@top) %>
<br />

<%= link_to 'Delete Top 100 Arist', @top, method: :delete %>

<br />
<h1><%= link_to 'Home', tops_path %><h1>